body,
html {
  font-family: "Roboto", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.selection a {
  font-size: 20px;
  transition: all 0.5s;
  text-align: left;
  width: 80%;
}
.selection a:hover {
  transform: scale(1.1);
}
nav {
  margin-top: 10px;
}
nav a .page-link {
  color: black;
}
#menu {
  margin-bottom: 20px;
}
#menu h1 {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  width: 30%;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#menu .content__menuBody {
  background: rgb(248, 248, 248);
  width: 30%;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.carousel-control-prev-icon {
  background-image: url(../img/left-arrow.svg);
  margin-right: 15px;
}
.carousel-control-next-icon {
  background-image: url(../img/right-arrow.svg);
  margin-left: 15px;
}
.table td, .table th {
  border: 2px solid #dee2e6;
}
